/* Container and Header Styles */
.container {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Hide overflow from the container */
    background: #fff;
    box-sizing: border-box; /* Ensure padding is included in width/height */
    display: flex;
    flex-direction: column;
}

/* Header Styles
.header {
    height: 60px; 
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 10;
} */

/* Main Content Styles */
main {
    flex: 1;
    padding: 80px 20px 20px; /* Adjust padding-top to include space for fixed header */
    width: 100%;
    overflow-y: auto; /* Enable vertical scrolling */
    box-sizing: border-box;
}

/* Title Styles */
.title {
    text-align: center;
    color: #4CAF50;
    margin: 20px 0;
}

/* Buttons */
.buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.editButton, .deleteButton, .saveButton, .copyButton {
    padding: 10px 20px;
    background-color: #b7b7b7;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.editButton:hover, .deleteButton:hover, .saveButton:hover, .copyButton {
    background-color: #ddd;
}

/* Table Styles */
.memberTable {
    width: 100%;
    border-collapse: collapse;
}

.memberTable th, .memberTable td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

/* Action Button Styles */
.memberTable td button {
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 5px; /* Space between buttons */
}

.memberTable td .editButton {
    background-color: #9a9b9a;
    color: rgb(77, 76, 76);
    border: none;
}

.memberTable td .saveButton {
    background-color: #4CAF50;
    color: white;
    border: none;
}

.memberTable td .deleteButton {
    background-color: red;
    color: white;
    border: none;
}
