
.background {
  background: linear-gradient(144deg, #76e698, #378654 50%, #9aedc7);
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh; /* Full viewport height */
  overflow: auto; /* Prevent scrolling */
}

.header {
  font-family: 'Arial', sans-serif;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.logo-container {
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ffim {
  width: 80%;
  height: 80%;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}


.translucent-box {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 20px; /* Reduced padding */
  margin: 20px; /* Added margin */
  width: 90%; /* Full width with some margin */
  max-width: 600px; /* Max width to prevent stretching */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1; /* Allow to grow to fit available space */
  overflow: hidden; /* Prevent scrolling */
}

.whoareyou {
  filter: brightness(0) invert(0);
  height: 250px;
  width: 250px;
  margin-bottom: 20px; /* Add margin to space out */
}

.membersection {
  display: flex;
  justify-content: space-around; /* Space out items */
  width: 100%; /* Full width */
  margin-top: 10px;
}

.adminsection {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centered alignment */
}

.role-icon-container,
.admincontainer {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 10px; /* Adjusted margin */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 25px;
}

.role-icon,
.adminicon {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #ffffff;
}

.memberbutton,
.adminbutton {
  width: 100%; /* Make the button fill its container */
  height: 100%; /* Make the button fill its container */
  border: none; /* Remove default border */
  background-color: transparent; /* Make the button background transparent */
  padding: 0; /* Remove default padding */
  display: flex; /* Center content */
  align-items: center; /* Center content */
  justify-content: center; /* Center content */
  cursor: pointer; /* Show pointer cursor on hover */
  transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition for effects */
}

/* Hover effect for buttons */
.memberbutton:hover,
.adminbutton:hover {
  transform: scale(1.1); /* Slightly enlarge button */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Increase shadow */
}

.member,
.adminsection h1 {
  margin-top: 10px; /* Add space above text */
}

.Admintext {
  margin-left: 20px;
}
