.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f8f8f8; /* Light gray background */
  font-family: Arial, sans-serif;
  padding-bottom: 100px; /* Add padding for fixed footer */
  max-width: 1500px; /* Set a max-width */
  margin: 0 auto; /* Center the container */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  box-sizing: border-box;
  height: 100vh; /* Full viewport height */
  position: relative; /* Allow absolute positioning of footer */
}

/* Main content styles */
.main-content {
  display: flex;
  justify-content: center;
  padding: 0px 0;
  gap: 70px;
  width: 100%; /* Fit within the container */
}

/* Info section styles */
.info-sections {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  gap: 20px; /* Space between sections */
  padding: 20px 0;
  width: 100%; /* Fit within the container */
  flex-wrap: wrap; /* Allow sections to wrap */
}

.section {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px; /* Limit width */
  width: 100%; /* Full width within max-width */
  text-align: center; /* Center text */
  box-sizing: border-box;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.section h3 {
  color: #378654;
  margin-bottom: 10px;
}

.section p {
  color: #555;
}

/* Touchable opacity and hover effects */
.touchable-opacity {
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.touchable-opacity:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.touchable-opacity:active {
  transform: scale(0.98);
}

/* Adjusting space from header */
.home-container::before {
  content: "";
  display: block;
  height: 70px; /* Height of your header */
}

/* Header styles */
.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  background: #378654; /* Green color */
  padding: 1px 20px;
  position: absolute; /* Fix header position */
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-radius: 0 0 8px 8px;
  margin-bottom: 10px;
}

/* Footer styles */
.footer-container {
  width: 100%;
  background-color: #378654;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 1000;
  border-radius: 8px 8px 0 0;
}

/* Responsive styles */
@media (max-width: 768px) {
  .home-header {
    flex-direction: column; /* Stack logo and title vertically */
    align-items: center;
  }

  .info-sections {
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }

  .section {
    width: 100%; /* Full width on smaller screens */
  }

  .main-content {
    flex-direction: column;
    gap: 20px; /* Reduce gap */
  }
}
